.info_geral {
    .status {
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 15px;
        border-radius: 8px;
        display: inline-block;
        @include mq (tablet,max){
            margin: 0 auto 30px auto; 
            display: block;
        }
        &.entregue {
            background: $success;
        }
        &.caminho {
            background: $blue;
        }
        &.separacao {
            background: $purple;
        }
        &.aprovado {
            background: $verde;
        }
        &.recebido {
            background: $primary;
        }
        &.cancelado {
            background: $color-danger;
        }
    }
    .detalhes_basicos{
        .text-caminho{
            color: $blue;
        }
        .text-separacao{
            color: $purple;
        }
        .text-aprovado{
            color: $verde;
        }
        .text-recebido{
            color: $primary;
        }
        .text-danger{
            color: $color-danger;
        }
    }
}